.description_container{
    height: 26vh;
    background: radial-gradient(circle, rgba(255,0,118,1) 0%, rgba(218,0,255,1) 100%);
    font-size: 1rem;
}

.link{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}